<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"></a>
    </div>
    <ul class="nav navbar-nav" style="float:right;">
      <li><a href="dashboard">Dashboard</a></li>
      <div *ngxPermissionsOnly="['']"><li *ngxPermissionsOnly="['ADMIN']"><a href="fixtureSetup">Fixture Setup</a></li></div>
      <div *ngxPermissionsOnly="['']"><li *ngxPermissionsOnly="['ADMIN']"><a href="teamSetup">Team Setup</a></li></div>
      <li><a href="login">Logout</a></li>
    </ul>
  </div>
</nav>
